<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.curryware.ws1infoviewer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/WS1_Info_Viewer_Theme">
        <activity android:name=".MainActivity"
            android:theme="@style/WS1_Info_Viewer_Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListUserActivity" />

        <meta-data
            android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/app_restictions" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/nav_settings"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".UserDetailActivity" />
    </application>

</manifest>